{% extends "layout.html" %}

{% block title %}
  Saham - PJays KoopSystem
{% endblock %}

{% block content %}
    <div class="pagetitle">
      <h1>Saham Komuniti</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Muka Surat</li>
          <li class="breadcrumb-item active">Saham Komuniti</li>
        </ol>
      </nav>
    </div><!-- Penutup Page Title -->

    <section class="section">
      
      <div class="row">
        <!-- Saham -->
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Jumlah Saham <span>| Terkini</span></h5>

              <!-- Line Chart -->
              <div id="lineChart"></div>

              <script>
                  document.addEventListener("DOMContentLoaded", () => {
                      const lineChartData = {{ line_chart_data|safe }};
                      const chart = new ApexCharts(document.querySelector("#lineChart"), {
                          series: [{
                              name: "Modal Syer",
                              data: lineChartData.map(item => item.total_modal_syer)
                          }],
                          chart: {
                              height: 385,
                              type: 'line',
                              zoom: {
                                  enabled: true
                              }
                          },
                          xaxis: {
                              categories: lineChartData.map(item => item.month_year)
                          },
                          tooltip: {
                              y: {
                                  formatter: (val) => `RM ${val}` // Format the tooltip to include RM
                              }
                          }
                      });
                      chart.render();
                  });
              </script>
              
              <!-- End Line Chart -->

            </div>
          </div>
        </div><!-- Penutup Saham -->

        <div class="col-lg-4">

          <!-- Pie Saham -->
          <div class="card">

            <div class="card-body pb-0">
              <h5 class="card-title">Jumlah Saham Mengikut Kategori</h5>
              <!-- Table container with scrollpane -->
              <div class="table-scrollpane">
                <div id="sahamPieChart" style="min-height: 416px;" class="echart"></div>

                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    echarts.init(document.querySelector("#sahamPieChart")).setOption({
                      tooltip: {
                        trigger: 'item',
                        formatter: function (params) {
                          return `${params.name}: RM ${params.value}`;
                        }
                      },
                      legend: {
                        top: '5%',
                        left: 'center'
                      },
                      series: [{
                        name: 'Akses Dari',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                          show: false,
                          position: 'center'
                        },
                        emphasis: {
                          label: {
                            show: true,
                            fontSize: '18',
                            fontWeight: 'bold'
                          }
                        },
                        labelLine: {
                          show: false
                        },
                        data: [{
                            value: {{ member_total }},
                            name: 'Pelajar'
                          },
                          {
                            value: {{ teacher_total }},
                            name: 'Kakitangan'
                          }
                        ]
                      }]
                    });
                  });
                </script>

              </div>
            </div>
          </div><!-- End Pie Saham -->
          
        </div>


        <div class="col-lg-8">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Jumlah Saham Pelajar Mengikut Tingkatan </h5>
      
                  <!-- Column Chart -->
                  <div id="columnChart"></div>
      
                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        const chartData = {{ bar_chart_data|safe }};
                
                        const categories = chartData.map(item => item.tingkatan);
                        const seriesData = chartData.map(item => item.total_saham);
                
                        new ApexCharts(document.querySelector("#columnChart"), {
                            series: [{
                                name: 'Jumlah Saham',
                                data: seriesData
                            }],
                            chart: {
                                type: 'bar',
                                height: 385
                            },
                            plotOptions: {
                                bar: {
                                    horizontal: false,
                                    columnWidth: '55%',
                                    endingShape: 'rounded'
                                },
                            },
                            dataLabels: {
                                enabled: false
                            },
                            stroke: {
                                show: true,
                                width: 2,
                                colors: ['transparent']
                            },
                            xaxis: {
                                categories: categories
                            },
                            yaxis: {
                                title: {
                                    text: 'Saham (RM)'
                                }
                            },
                            fill: {
                                opacity: 1
                            },
                            tooltip: {
                                y: {
                                    formatter: function(val) {
                                        return "RM " + val
                                    }
                                }
                            }
                        }).render();
                    });
                </script>
                  <!-- End Column Chart -->
      
              </div>
          </div>
      </div>

        <hr>
        
        <!-- Saham -->
        <div class="col-lg-6">
          <div class="pagetitle">
            <h1>Saham Kakitangan</h1>
          </div><!-- Penutup Page Title -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Maklumat Saham Kakitangan</h5>
              <!-- Table container with scrollpane -->
              <div class="table-scrollpane">
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th>ID TEACHER</th>
                      <th>Nama</th>
                      <th>Modal Syer (RM)</th>
                      <th>Tarikh Pendaftaran</th>
                      <th>Tindakan</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for teacher in teacher %}
                    <tr>
                        <td>{{ teacher.teacher_id }}</td>
                        <td>{{ teacher.nama }}</td>
                        <td>{{ teacher.modal_syer }}</td>
                        <td>{{ teacher.tarikh_daftar }}</td>
                        <td>
                          <form method="POST" action="{% url 'view_account_teacher' teacher.teacher_id %}">
                            <div class="form-btn">
                              {% csrf_token %}
                              <button type="submit"  class="btn btn-primary">Lihat Transaksi Akaun</button>
                            </div>
                          </form>
                        </td> <!-- Button yang menyimpan id cikgu untuk displaykan di form -->
                      </tr>
                    {% endfor %}
                    <!-- Repeat the rows for other students -->

                  </tbody>
                  
                </table>
                <!-- End Table with stripped rows -->
              </div>
          
            </div>
          </div>
        </div>

        <!-- Saham -->
        <div class="col-lg-6">
          <div class="pagetitle">
            <h1>Saham Pelajar</h1>
          </div><!-- Penutup Page Title -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Maklumat Saham Pelajar</h5>
              <!-- Table container with scrollpane -->
              <div class="table-scrollpane">
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th>ID STUDENT</th>
                      <th>Nama</th>
                      <th>Modal Syer (RM)</th>
                      <th>Tarikh Pendaftaran</th>
                      <th>Tindakan</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for member in member %}
                    <tr>
                      <td>{{ member.member_id }}</td>
                      <td>{{ member.nama }}</td>
                      <td>{{ member.modal_syer }}</td>
                      <td>{{ member.tarikh_daftar }}</td>
                      <td>
                        <form method="POST" action="{% url 'view_account_student' member.member_id %}">
                          <div class="form-btn">
                            {% csrf_token %}
                            <button type="submit"  class="btn btn-primary">Lihat Transaksi Akaun</button>
                          </div>
                        </form>
                      </td> <!-- Button yang menyimpan id cikgu untuk displaykan di form -->
                    </tr>
                  {% endfor %}
                    <!-- Repeat the rows for other students -->

                  </tbody>
                  
                </table>
                <!-- End Table with stripped rows -->
              </div>
          
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>
{% endblock content %}