{% extends "layout.html" %}

{% block title %}
  Padam Data Kakitangan - PJays KoopSystem
{% endblock %}

{% block content %}
<div class="pagetitle">
  <h1>Padam Data Kakitangan</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Muka Surat</li>
      <li class="breadcrumb-item">Kakitangan</li>
      <li class="breadcrumb-item active">Padam Data</li>
    </ol>
  </nav>
</div><!-- Penutup Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Maklumat Pendaftaran Kakitangan</h5>
          <div class="table-scrollpane">
        <!-- Table with stripped rows -->
        <table class="table datatable">

          <thead>
            <tr>
              <th>ID Teacher</th>
              <th>No. IC</th>
              <th>Nama</th>
              <th>Jantina</th>
              <th>Kaum</th>
              <th>Agama</th>
              <th>Alamat Rumah</th>
              <th>Pangkat</th>
              <th>Ahli</th>
              <th>Modal Syer(RM)</th>
              <th data-type="date" data-format="MM/DD/YYYY">Tarik Pendaftaran</th>
              <th>Tindakan</th>
            </tr>
          </thead>

          <tbody>
            {% for i in teacher %}
            <tr>
              <td>{{ i.teacher_id}}</td>
              <td>{{ i.ic_cikgu}}</td>
              <td>{{ i.nama }}</td>
              <td>{{ i.jantina }}</td>
              <td>{{ i.kaum }}</td>
              <td>{{ i.agama }}</td>
              <td>{{ i.alamat_rumah }}</td>
              <td>{{ i.pangkat }}</td>
              <td>{{ i.ahli }}</td>
              <td>{{ i.modal_syer }}</td>
              <td>{{ i.tarikh_daftar }}</td>
              <td>
                <form method="POST" action="{% url 'delete_teacher' i.teacher_id %}">
                  {% csrf_token %}
                  <div class="form-btn">
                    <button type="submit" class="btn btn-primary">Padam</button>
                  </div>
                </form> 
              </td> <!-- Button yang menyimpan id pelajar untuk displaykan di form -->
            </tr>
            {% endfor %}
            <!-- Repeat the rows for other students -->

          </tbody>
          
        </table>
        <!-- End Table with stripped rows -->
      </div>
        </div>
      </div>
{% endblock %}