{% load static %}

<!DOCTYPE html>
<html lang="ms">
<head>
    <meta charset="utf-8">
    <title>Pengesahan Reset Kata Laluan</title>
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Pemberitahuan</h2>
        <p>Pautan reset kata laluan telah dihantar ke alamat emel anda. Sila semak emel anda.</p>
        <div>
            <a href="{% url 'login' %}">Kembali ke Log Masuk</a>
        </div>
    </div>
</body>
</html>
